*{
    box-sizing: border-box;
}
body{
    background-image: url(2837451.webp);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.timeline{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
.timeline::after{
    content: "";
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
.container{
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}
.container::after{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: goldenrod;
    border: 4px solid white;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
.content{
    padding: 20px 30px;
    background: transparent;
    backdrop-filter: blur(10px);
    border: 4px solid goldenrod;
    position: relative;
    border-radius: 6px;
    color: white;
}
.content p{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
.timeline img{
    width: 100%;
    height: auto;
}
.timeline video{
    width: 100%;
    height: auto;
}
.left{
    left: 0;
}
.right{
    left: 50%;
}
.left::before{
    content: "";
    height: 0;
    position: absolute;
    top: 27px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid goldenrod;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent goldenrod;
}
.right::before{
    content: "";
    height: 0;
    position: absolute;
    top: 27px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid goldenrod;
    border-width: 10px 10px 10px 0px;
    border-color: transparent goldenrod transparent transparent;
}
.right::after{
    left: -16px;
}
button{
    border: none;
    border-radius: 10px;
    padding: 10px 35px;
    color: white;
    font-size: 20px;
    background-color: goldenrod;
    margin-top: 10px;
}
button:hover{
    background-color: gold;
}