*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    border: none;
}
body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(2837451.webp);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
header {
    background: goldenrod;
    padding: 15px;
    display: flex;
    z-index: 5;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}
.logo {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    height: 80px;
    width: 80px;
    mix-blend-mode: multiply;
}
.logo h2{
    font-size: 20px;
    color: whitesmoke;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    display: inline-block;
    margin: 0 1.5rem;
    color: white;
    font-weight: 600;
    line-height: 35px;
    transition: all 0.6s;
    text-decoration: none;
    position: relative;
}
nav a::before{
    content: '';
    width: 100%;
    height: 0px;
    background: gold;
    position: absolute;
    left: 0;
    bottom: -5px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: height 0.3s;
}
nav a:hover::before{
    height: 5px;
  }
input{
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
}
.signin{
    color: goldenrod;
    border: none;
    border-radius: 5px;
}
.signup{
    color: goldenrod;
    border: none;
    border-radius: 5px;
}
.heading h1{
    font-size: 50px;
    color: white;
    margin-bottom: 25px;
    margin-top: 80px;
    position: relative;
}
main {
    padding: 40px;
}
.about-us{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    backdrop-filter: blur(20px);
    border: 2px solid goldenrod;
    
}
.about-us .about-content h2{
    font-size: 40px;
    margin-bottom: 15px;
    color: white;
    text-align: center;
}
.about-us .about-content h4{
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}
.about-us .about-content p{
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    color: white;
    text-align: center;
}
.about-content .more-info{
    display: inline-block;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3 ease;
}
.about-content .more-info:hover{
    background-color: goldenrod;
}
#home, #about{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 100%;
}
#home .intro h1{
    font-size: 110px;
    color: white;
    text-align: center;
    font-weight: 800;
}
#home .intro h3{
    font-size: 60px;
    color: white;
    text-align: center;
    font-weight: 600;
}
#home .intro p{
    margin: 10px 0 30px;
    color: white;
    font-size: 35px;
    font-weight: 1000;
    text-align: center;
}
.product-photography button {
    background-color: darkkhaki;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
footer{
    background-color: goldenrod;
}
.footer-container{
    width: 100%;
    padding: 20px 20px 20px;
    text-align: center;
    color: white;
}
.social-medias{
    display: flex;
    justify-content: center;
}
.social-medias a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.social-medias a i{
    font-size: 20px;
    color: goldenrod;
}
.image{
    width: 700px;
    height: 550px;
    padding: 20px;
}
.image img{
    width: 650px;
    height: 500px;
    margin-top: 50px;
}


